body
{
    background-image: url(/assets/imagenes/mario.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh !important;
    /* background-color: black; */
}

.imagencarrusel
{
    height: 40vh;
    border-radius: 1%;
}

.frmlogin{
    margin-top: 10vh;
    border-radius: 3% ;
    background-color:rgba(252, 251, 251, .7);
}

.fondoblanco{
    background-color:rgba(252, 251, 251, .7);  
    /* height: 100vh;  */
}
